*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
library/src/main/java/com/ashlikun/appcrash/DefaultErrorActivity.java
.idea/inspectionProfiles/Project_Default.xml
library/src/main/java/com/ashlikun/appcrash/AppCrashInitProvider.java
library/src/main/java/com/ashlikun/appcrash/AppCrashConfig.java
